<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to Bet System</h1>
        <h2>Become a winner!</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-2">
            <h4>Sports</h4>
            <h4>{{vm.stats.sports}}</h4>
        </div>
        <div class="col-md-2">
            <h4>Events</h4>
            <h4>{{vm.stats.events}}</h4>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <h4>Games</h4>
            <h4>{{vm.stats.games}}</h4>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <h4>Bets</h4>
            <h4>{{vm.stats.bets}}</h4>
        </div>
        <div class="col-md-2">
            <h4>Odds</h4>
            <h4>{{vm.stats.odds}}</h4>
        </div>
    </div>
</div>